<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Bug Tracker</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="text-color">

	<header>

		<!-- nav bar -->
		<nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm navbar box-shadow mb-3">

			<!-- bug icon (also Home link) -->
			<a class="navbar-brand bug-icon" asp-area="" asp-controller="Home" asp-action="Index">
				<img src="~/img/bug_icon.png" alt="bug icon" width="50px" />
			</a>

			<!-- menu container -->
			<div class="container">

				<!-- menu button that appears when the screen is small -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- navigation links -->
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						<!-- Home link -->
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
								Home
							</a>
						</li>

						<!-- Projects link -->
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">
								Projects
							</a>
						</li>

						<!-- Project link -->
						<!-- (If this is a bug or comment, this links to its project) -->
						@if (Model != null)
						{
							@if (Model.GetType().GetProperty("Project") != null)
							{
								<text>
									<li class="nav-item">
										<a class="nav-link" asp-controller="Projects" asp-action="View" asp-route-id="@Model.Project.Id">
											@Model.Project.Name
										</a>
									</li>
								</text>
							}

							<!-- Ticket link -->
							<!-- (If this is a comment, this links to its ticket) -->
							@if (Model.GetType().GetProperty("Bug") != null)
							{
								<text>
									<li class="nav-item">
										<a class="nav-link" asp-controller="Bugs" asp-action="View" asp-route-id="@Model.Bug.Id">
											@Model.Bug.Title
										</a>
									</li>
								</text>
							}
						}
						<!--
						<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						-->
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3 background">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<!--
		<div class="container">
				&copy; 2021 - BugTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
		-->
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>