@model TicketTracker.ViewModels.ViewTicketVM

@{ ViewData["Title"] = Model.Ticket.Title; }


<!-- Info display -->
<div class="p-4">

	<!-- Title -->
	<h2 class="mb-header">
		@Model.Ticket.Title
	</h2>

	<dl class="row">

		<!-- Project info -->
		<dt class="col-sm-1 text-nowrap">
			Project:
		</dt>
		<dd class="col-sm-3">
			<a asp-controller="Projects" asp-action="View" asp-route-id="@Model.Project.Id">
				@Model.Project.Name
			</a>
		</dd>

		<!-- Category info -->
		<dt class="col-sm-1 text-nowrap">
			@Html.DisplayNameFor(model => model.Ticket.Category):
		</dt>
		<dd class="col-sm-3">
			@Html.DisplayFor(model => model.Ticket.Category)
		</dd>

		<!-- Creation time info -->
		<dt class="col-sm-1 text-nowrap">
			@Html.DisplayNameFor(model => model.Ticket.CreationTime):
		</dt>
		<dd class="col-sm-3">
			@Html.DisplayFor(model => model.Ticket.CreationTime)
		</dd>

		<!-- Priority info -->
		<dt class="col-sm-1 text-nowrap">
			@Html.DisplayNameFor(model => model.Ticket.Priority):
		</dt>
		<dd class="col-sm-3 text-nowrap">
			@Html.DisplayFor(model => model.Ticket.Priority)
		</dd>

		<!-- Owner info -->
		<dt class="col-sm-1 text-nowrap">
			@Html.DisplayNameFor(model => model.Ticket.UserName):
		</dt>
		<dd class="col-sm-3 text-nowrap">
			@Html.DisplayFor(model => model.Ticket.UserName)
		</dd>

		<!-- Status info -->
		<dt class="col-sm-1 text-nowrap">
			@Html.DisplayNameFor(model => model.Ticket.Status):
		</dt>
		<dd class="col-sm-3 text-nowrap">
			@Html.DisplayFor(model => model.Ticket.Status)
		</dd>

		<!-- Body info -->
		<dt class="col-sm-1 text-nowrap">
			Ticket:
		</dt>
		<dd class="col-sm-11">
			@Html.DisplayFor(model => model.Ticket.Body)
		</dd>
	</dl>

	<!-- Actions -->
	<div class="row">
		<div class="col">

			<!-- Reply -->
			<a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Ticket.Id">Reply</a>
			|
			<!-- Edit -->
			<a asp-action="Edit" asp-route-id="@Model.Ticket.Id">Edit</a>
			|
			<!-- Delete -->
			<a asp-action="Delete" asp-route-id="@Model.Ticket.Id">Delete</a>
		</div>
	</div>

	<br />

	<!-- Comments display -->
	@foreach (var item in Model.Comments)
	{
		<div class="border-top">
			<br />
			<dl class="row">
				<!-- Comment -->
				<dd class="col-sm-2">
					@Html.DisplayFor(model => item.CreationTime)
					@Html.DisplayFor(model => item.UserName)
				</dd>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => item.Body)
				</dd>
			</dl>

			<!-- Comment actions -->
			<div class="row">
				<div class="col">

					<!-- Reply to comment -->
					<a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Ticket.Id">Reply</a>
					|
					<!-- Edit comment -->
					<a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
					|
					<!-- Delete comment -->
					<a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					<br /><br />
				</div>
			</div>
		</div>
	}
</div>