@model BugTracker.ViewModels.ProjectEditViewModel

@{ ViewData["Title"] = "Edit Project"; }

<h2 class="mb-header">Edit Project</h2>

<div class="row">
	<div class="col">
		<form asp-action="Edit" asp-route-id="@Model.Project.Id">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Project.Id" />

			<!--Project Name input -->
			<div class="form-group">
				<label asp-for="Project.Name" class="control-label"></label>
				<input asp-for="Project.Name" class="form-control" />
				<span asp-validation-for="Project.Name" class="text-danger"></span>
			</div>

			<!-- Project Description input -->
			<div class="form-group">
				<label asp-for="Project.Description" class="control-label"></label>
				<textarea asp-for="Project.Description" class="form-control" rows="5" cols="50"></textarea>
				<span asp-validation-for="Project.Description" class="text-danger"></span>
			</div>

			<!-- Project Owner selection dropdown -->
			<div class="form-group">
				<label asp-for="Project.PMId" class="control-label"></label>
				<select name="CurrentPMUserName">
					@* default value is current PM name *@
					<option value="@Model.CurrentPMUserName">@Model.CurrentPMUserName</option>
					@foreach (var u in Model.PossiblePMUserNames)
					{
						<html><option value="@u.ToString()">@u.ToString()</option></html>
					}
				</select>
				<span asp-validation-for="Project.PMId" class="text-danger"></span>
			</div>

			<!-- Buttons -->
			<div class="form-group">
				<!-- Submit button -->
				<input type="submit" value="Save" class="btn btn-primary" />
				<!--cancel button -->
				<a asp-action="Index">Cancel</a>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}