@model BugTracker.ViewModels.ProjectBugsViewModel

@{ ViewData["Title"] = Model.Project.Name; }

<h2 class="mb-header">@Model.Project.Name</h2>

<table class="table">
	<thead>
		<tr>
			<p>
				<a asp-controller="Bugs" asp-action="Create" asp-route-id="@Model.Project.Id">
					Create Ticket
				</a>
			</p>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].Priority)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].CreationTime)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Bugs)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Category)
			</td>
			<td>
				<a asp-controller="Bugs" asp-action="View" asp-route-id="@item.Id">
					@Html.DisplayFor(modelItem => item.Title)
				</a>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Priority)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UserName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreationTime)
			</td>
		</tr>
}
	</tbody>
</table>
