@using System.Linq;
@model TicketTracker.ViewModels.ViewProjectVM

@{ ViewData["Title"] = Model.Project.Name; }

<div class="main">
	<form id="project-view-form" method="GET">
		<div class="project-view-menu">
			<div class="project-view-menu__header">
				<h2 class="mb-header">
					@Model.Project.Name 
				</h2>
			</div>
			<div class="project-view-menu__buttons">
				<partial name="ViewComponents/_newTicketButton.cshtml" />
				<partial name="ViewComponents/_editProjectButton.cshtml" />
			</div>
			<div class="project-view-menu__filters">
				<partial name="ViewComponents/_filterMenu.cshtml" />
			</div>
			<div class="project-view-menu__search">	 
				<partial name="ViewComponents/_searchInput.cshtml" />
		 </div>
		</div>

	<table class="table table-sm table-hover">
		<partial name="ViewComponents/_tableHeader.cshtml" />

		<partial name="ViewComponents/_tableRows.cshtml" />
	</table>

	<partial name="ViewComponents/_ticketCount.cshtml" /> 
				<partial name="ViewComponents/_pageSize.cshtml" />

	<div>	
		<partial name="ViewComponents/_pageArrows.cshtml" />
	</div>
	
	<!-- other necessary params -->
	<input type="hidden"
					name="PageCount"
					value="@Model.DataPage.PageCount"/>
	<input type="hidden"
					id="orderByColumn_input"
					name="orderByColumn"
					value="@Model.DataPage.OrderByColumn" />
	<input type="hidden"
					id="orderByDirection_input"
					name="orderDirection"
					value="@Model.DataPage.OrderDirection" />
	<input type="hidden"
					name="Filter"
					value="@Model.DataPage.Filter" />
	<input type="hidden"
					id="ShowFilterDropdown"
					name="ShowFilterDropdown"
					value="@Model.ShowFilterDropdown" />
	</form>
</div>