@model BugTracker.ViewModels.ProjectBugsViewModel

@{ ViewData["Title"] = Model.Project.Name; }

<h2 class="mb-header">@Model.Project.Name</h2>

<table class="table">
	<thead>
		<tr>
			<p>
				<a asp-controller="Bugs" asp-action="Create" asp-route-id="@Model.Project.Id" class="btn btn-primary btn-sm">
					Create New Bug
				</a>
			</p>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bugs[0].CreationTime)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Bugs)
		{
<tr>
<td>
	<a asp-controller="Bugs" asp-action="View" asp-route-id="@item.Id">
		<strong>
			@Html.DisplayFor(modelItem => item.Title)
		</strong>
	</a>
</td>
<td>
	@Html.DisplayFor(modelItem => item.UserName)
</td>
<td>
	@Html.DisplayFor(modelItem => item.CreationTime)
</td>
</tr>
}
	</tbody>
</table>
